<html>
  <head>
    <title>Bookers2</title>
  </head>
  <body>
    <a><span>Bookers</span></a>
    <div>
      <ul>
      <li><a>Home</a></li>
      <li><a>About</a></li>
      <li><a>Sign_up</a></li>
      <li><a>Log_in</a></li>
      </ul>
    </div>

    <main>
        <p id="notice"></p>
        <h1>Welcome to <strong>Bookers</strong>!!</h1>
        <p>In<strong>Bookers</strong></p>
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various books!</p>
      <div>
        <a>Log in</a>
        <a>Sign up</a>
      </div>
    </main>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>

  </body>
</html>