<html>
  <head>
    <title>Bookers2-debug</title>
  </head>

  <body>
  <a><span>Bookers2</span></a>

  <div>
    <ul>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    </ul>